.about-company {
  width: 100%;
  min-height: 420px;
  background-color: $color-default-white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-company__container {
  max-width: 1920px;
  width: 100%;
  min-height: 100%;
  padding-top: 5px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.about-company h2 {
  font-family: $ff-roboto-condensed;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-black-pearl;
  margin: 0;
  margin-bottom: 13px;
  margin-left: 600px;
}

.about-company__text-container {
  width: 970px;
  margin-left: 600px;
  overflow-y: hidden;
  margin-bottom: 21px;
}

.about-company__text-container--close {
  height: 170px;
}

.about-company__text-container--open {
  height: auto;
}

.about-company p {
  font-family: $ff-ptmono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-black-pearl;
  margin: 0;
  margin-bottom: 20px;
}

.about-company__text--mobile {
  display: none;
}

.about-company button {
  font-family: $ff-roboto-condensed;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-deep-sky-blue;
  padding: 14px 12px;
  border: 1px solid $color-deep-sky-blue;
  border-radius: 3px;
  background-color: transparent;
  margin-left: 600px;
  width: 180px;
  cursor: pointer;
  user-select: none;
}

.about-company button:hover {
  color: $color-default-white;
  background-color: $color-deep-sky-blue;
}

.about-company img {
  position: absolute;
  top: 6px;
  left: 350px;
}

@media (max-width: $desktop-elastic-max-width) and (min-width: $desktop-elastic-min-width) {
  .about-company h2 {
    margin-left: 34%;
  }

  .about-company__text-container {
    width: 50%;
    margin-left: 34%;
  }

  .about-company button {
    margin-left: 34%;
  }

  .about-company img {
    left: 16%;
  }
}

@media (max-width: $tablet-max-width) and (min-width: $tablet-min-width) {
  .about-company {
    min-height: 460px;
  }

  .about-company__container {
    width: 770px;
    padding: 42px 50px 80px;
  }

  .about-company img {
    top: 46px;
    left: 46px;
  }

  .about-company h2 {
    margin-left: 175px;
  }

  .about-company__text-container {
    width: 495px;
    margin-left: 175px;
    margin-bottom: 16px;
  }

  .about-company__text-container--close {
    height: 260px;
  }

  .about-company button {
    margin-left: 175px;
  }
}

@media (max-width: $mobile-width) {
  .about-company {
    min-height: 385px;
  }

  .about-company__container {
    min-width: 320px;
    width: 100%;
    padding: 0 25px 80px;
  }

  .about-company img {
    display: none;
  }

  .about-company h2 {
    font-size: 28px;
    line-height: 39px;
    margin-left: 0;
  }

  .about-company p {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 18px;
  }

  .about-company__text--mobile {
    display: block;
  }

  .about-company__text-container {
    min-width: 270px;
    width: 100%;
    margin-left: 0;
    margin-bottom: 17px;
  }

  .about-company__text-container--close {
    height: 204px;
  }

  .about-company button {
    width: 160px;
    padding: 8px 12px;
    margin-left: 0;
  }
}
