.about-company {
  width: 100%;
  min-height: 420px;
  background-color: $color-default-white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-company__container {
  width: 1920px;
  min-height: 100%;
  padding: 5px 350px 120px;
  position: relative;
}

.about-company__title {
  font-family: $ff-roboto-condensed;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-black-pearl;
  margin: 0;
  margin-bottom: 13px;
  margin-left: 250px;
}

.about-company__text-container {
  margin-left: 250px;
  overflow-y: hidden;
  margin-bottom: 21px;
}

.about-company__text-container--close {
  height: 170px;
}

.about-company__text-container--open {
  height: auto;
}

.about-company__text {
  font-family: $ff-ptmono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-black-pearl;
  margin: 0;
  margin-bottom: 20px;
}

.about-company__text--mobile {
  display: none;
}

.about-company__button {
  font-family: $ff-roboto-condensed;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-deep-sky-blue;
  padding: 14px 12px;
  border: 1px solid $color-deep-sky-blue;
  border-radius: 3px;
  background-color: transparent;
  margin-left: 250px;
  width: 180px;
  cursor: pointer;
}

.about-company__button:hover {
  color: $color-default-white;
  background-color: $color-deep-sky-blue;
}

.about-company__image {
  position: absolute;
  top: 6px;
  left: 350px;
}

@media (max-width: 1023px) and (min-width: 768px) {
  .about-company {
    min-height: 460px;
  }

  .about-company__container {
    width: 770px;
    padding: 42px 50px 80px;
  }

  .about-company__image {
    top: 46px;
    left: 46px;
  }

  .about-company__title {
    margin-left: 175px;
  }

  .about-company__text-container {
    margin-left: 175px;
    margin-bottom: 16px;
  }

  .about-company__text-container--close {
    height: 260px;
  }

  .about-company__button {
    margin-left: 175px;
  }
}

@media (max-width: 767px) {
  .about-company {
    min-height: 385px;
  }

  .about-company__container {
    width: 320px;
    padding: 0 25px 80px;
  }

  .about-company__image {
    display: none;
  }

  .about-company__title {
    font-size: 28px;
    line-height: 39px;
    margin-left: 0;
  }

  .about-company__text {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 18px;
  }

  .about-company__text--mobile {
    display: block;
  }

  .about-company__text-container {
    margin-left: 0;
    margin-bottom: 17px;
  }

  .about-company__text-container--close {
    height: 204px;
  }

  .about-company__button {
    width: 160px;
    padding: 8px 12px;
    margin-left: 0;
  }
}
