.advantages-card {
  width: 595px;
  height: 300px;
  background-color: $color-default-white;
  border: 1px solid $color-whisper;
  padding: 40px 45px;
  position: relative;
}

.advantages-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  width: 5px;
  height: 100%;
  background-color: $color-deep-sky-blue;
}

.advantages-card__image {
  margin-bottom: 14px;
  fill: $color-deep-sky-blue;
}

.advantages-card__title {
  font-family: $ff-roboto-condensed;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: $color-deep-sky-blue;
  margin: 0;
  margin-bottom: 15px;
}

.advantages-card__text {
  font-family: $ff-ptmono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-black-pearl;
  margin: 0;
}

.advantages-card:hover,
.advantages-card:focus {
  background-color: $color-deep-sky-blue;
}

.advantages-card:hover .advantages-card__title,
.advantages-card:focus .advantages-card__title {
  color: $color-default-white;
}

.advantages-card:hover .advantages-card__text,
.advantages-card:focus .advantages-card__text {
  color: $color-default-white;
}

.advantages-card:hover .advantages-card__image,
.advantages-card:focus .advantages-card__image {
  fill: $color-default-white;
}

@media (max-width: 1023px) and (min-width: 768px) {
  .advantages-card {
    width: 320px;
    height: 360px;
    padding: 40px 35px 35px 45px;
  }

  .advantages-card__image {
    margin-bottom: 8px;
  }

  .advantages-card__title {
    margin-bottom: 9px;
  }
}

@media (max-width: 767px) {
  .advantages-card {
    width: 270px;
    height: 340px;
    padding: 30px 30px 35px;
  }

  .advantages-card:nth-child(3n) {
    height: 325px;
  }

  .advantages-card:nth-child(4n) {
    height: 325px;
  }

  .advantages-card__image {
    margin-bottom: 6px;
    width: 30px;
    height: 30px;
  }

  .advantages-card__title {
    margin-bottom: 6px;
    font-size: 20px;
  }

  .advantages-card__text {
    font-size: 14px;
    line-height: 19px;
  }
}
