.advantages {
  width: 100%;
  min-height: 864px;
  background-color: $color-default-white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__container {
  width: 1920px;
  min-height: 100%;
  padding: 104px 350px 98px;
}

.advantages__list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 595px 595px;
  column-gap: 30px;
  row-gap: 30px;
}

@media (max-width: 1023px) and (min-width: 768px) {
  .advantages  {
    height: 830px;
  }

  .advantages__container {
    width: 770px;
    padding: 64px 50px 34px;
  }

  .advantages__list {
    grid-template-columns: 320px 320px;
  }
}

@media (max-width: 767px) {
  .advantages  {
    min-height: 1420px;
  }

  .advantages__container {
    width: 320px;
    padding: 50px 25px 47px;
  }

  .advantages__list {
    grid-template-columns: 270px;
    margin: 0;
  }
}
