.contacts {
  padding-top: 9px;
}

.contacts__container {
  display: flex;
  flex-direction: column;
}

.contacts__title {
  font-family: $ff-roboto-condensed;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  margin: 0;
  margin-bottom: 24px;
}

.contacts__address,
.contacts__phone {
  font-family: $ff-ptmono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-transparent;
  margin-bottom: 10px;
  width: 345px;
}

.contacts__button {
  display: none;
}

@media (max-width: 1023px) and (min-width: 768px) {
  .contacts {
    padding-top: 2px;
  }

  .contacts__title {
    margin-bottom: 22px;
  }

  .contacts__address {
    margin-bottom: 12px;
  }
}
