.contacts {
  padding-top: 9px;
  position: relative;
}

.contacts address {
  display: flex;
  flex-direction: column;
}

.contacts h3 {
  font-family: $ff-roboto-condensed;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  margin: 0;
  margin-bottom: 24px;
}

.contacts p,
.contacts a {
  font-family: $ff-ptmono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-transparent;
  margin: 0;
  margin-bottom: 10px;
  width: 345px;
}

.contacts a:hover {
  color: $color-deep-sky-blue;
}

.contacts button {
  display: none;
}

.contacts span {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

@media (max-width: 1919px) and (min-width: 1023px) {
  .contacts {
    width: 214px;
  }

  .contacts p {
    width: 214px;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .contacts {
    padding-top: 2px;
  }

  .contacts h3 {
    margin-bottom: 22px;
  }

  .contacts p {
    margin-bottom: 12px;
  }
}

@media (max-width: 767px) {
  .contacts {
    width: 320px;
    margin-right: 0;
    padding: 22px 24px;
    border-bottom: 1px solid $color-default-white;
  }

  .contacts .contacts__container--close {
    display: none;
  }

  .contacts h3 {
    margin: 0;
  }

  .contacts button {
    position: absolute;
    top: 20px;
    left: 279px;
    display: block;
    width: 15px;
    height: 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .contacts button::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 15px;
    height: 1px;
    background-color: $color-default-white;
  }

  .contacts__button--open::after {
    content: "";
    position: absolute;
    top: 0;
    left: 7px;
    width: 1px;
    height: 15px;
    background-color: $color-default-white;
  }

  .contacts p {
    margin-top: 18px;
    font-size: 14px;
    line-height: 19px;
    width: 270px;
    margin-bottom: 17px;
  }

  .contacts a {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 5px;
  }
}
