.contacts {
  padding-top: 9px;
  position: relative;
}

.contacts__container {
  display: flex;
  flex-direction: column;
}

.contacts__title {
  font-family: $ff-roboto-condensed;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  margin: 0;
  margin-bottom: 24px;
}

.contacts__address,
.contacts__phone {
  font-family: $ff-ptmono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-transparent;
  margin-bottom: 10px;
  width: 345px;
}

.contacts__button {
  display: none;
}

@media (max-width: 1023px) and (min-width: 768px) {
  .contacts {
    padding-top: 2px;
  }

  .contacts__title {
    margin-bottom: 22px;
  }

  .contacts__address {
    margin-bottom: 12px;
  }
}

@media (max-width: 767px) {
  .contacts {
    width: 320px;
    margin-right: 0;
    padding: 22px 24px;
    border-bottom: 1px solid $color-default-white;
  }

  .contacts__container--close {
    display: none;
  }

  .contacts__title {
    margin: 0;
  }

  .contacts__button {
    position: absolute;
    top: 20px;
    left: 279px;
    display: block;
    width: 15px;
    height: 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .contacts__button::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 15px;
    height: 1px;
    background-color: $color-default-white;
  }

  .contacts__button--open::after {
    content: '';
    position: absolute;
    top: 0;
    left: 7px;
    width: 1px;
    height: 15px;
    background-color: $color-default-white;
  }

  .contacts__address {
    margin-top: 18px;
    font-size: 14px;
    line-height: 19px;
    width: 270px;
    margin-bottom: 17px;
  }

  .contacts__phone {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 5px;
  }
}
