.footer {
  width: 100%;
  height: 280px;
  background-color: $color-black-pearl;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__container {
  width: 1920px;
  min-height: 100%;
  padding: 47px 350px;
  display: flex;
  align-items: flex-start;
  position: relative;
}
