.footer {
  width: 100%;
  height: 280px;
  background-color: $color-black-pearl;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__container {
  width: 1920px;
  min-height: 100%;
  padding: 47px 350px;
  display: flex;
  align-items: flex-start;
  position: relative;
}

@media (max-width: 1023px) and (min-width: 768px) {
  .footer {
    height: 465px;
  }

  .footer__container {
    width: 770px;
    padding: 50px 50px 65px;
    display: grid;
    grid-template-columns: 350px 320px;
    row-gap: 35px;
  }

  .footer__logo {
    grid-column: 1/3;
    grid-row: 1/2;
  }
}

@media (max-width: 767px) {
  .footer {
    min-height: 325px;
    height: auto;
  }

  .footer__container {
    width: 320px;
    padding: 35px 0;
    display: flex;
    flex-direction: column;
  }

  .footer__logo {
    margin-bottom: 80px;
  }
}
