.goods-card {
  width: 350px;
  height: 650px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.goods-card::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  left: 289px;
  top: 590px;
  background-color: $color-deep-sky-blue;
  border-radius: 3px 0 0 0;
  background-image: url("../../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.goods-card--1 {
  background-image: url("../../img/goods/card1.png");
}

.goods-card--2 {
  background-image: url("../../img/goods/card2.png");
}

.goods-card--3 {
  background-image: url("../../img/goods/card3.png");
}

.goods-card__link {
  display: block;
  width: 350px;
  height: 650px;
  padding: 48px 40px 80px;
  background-color: rgba(4, 24, 39, 0.5);
}

.goods-card__link:hover,
.goods-card__link:focus {
  background-color: rgba(4, 24, 39, 0);
}

.goods-card__title {
  font-family: $ff-roboto-condensed;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $color-default-white;
  margin: 0;
}

.goods-card__title--tablet {
  display: none;
}


@media (max-width: 1023px) and (min-width: 768px) {
  .goods-card {
    width: 670px;
    height: 250px;
  }

  .goods-card__title--tablet {
    display: block;
  }

  .goods-card__title--desktop {
    display: none;
  }

  .goods-card::before {
    left: 610px;
    top: 190px;
  }

  .goods-card--1 {
    background-image: url("../../img/goods/card1-tablet.jpg");
  }

  .goods-card--2 {
    background-image: url("../../img/goods/card2-tablet.jpg");
  }

  .goods-card--3 {
    background-image: url("../../img/goods/card3-tablet.jpg");
  }

  .goods-card__link {
    display: block;
    width: 670px;
    height: 250px;
    padding: 37px 45px 80px;
    background-color: rgba(4, 24, 39, 0.5);
  }
}

@media (max-width: 767px) {
  .goods-card {
    width: 270px;
    height: 250px;
  }

  .goods-card__title--tablet {
    display: block;
  }

  .goods-card__title--desktop {
    display: none;
  }

  .goods-card::before {
    left: 230px;
    top: 210px;
    width: 40px;
    height: 40px;
  }

  .goods-card__title {
    font-size: 18px;
  }

  .goods-card--1 {
    background-image: url("../../img/goods/card1-mobile.jpg");
  }

  .goods-card--2 {
    background-image: url("../../img/goods/card2-mobile.jpg");
  }

  .goods-card--3 {
    background-image: url("../../img/goods/card3-mobile.jpg");
  }

  .goods-card__link {
    display: block;
    width: 270px;
    height: 250px;
    padding: 26px 30px 80px;
    background-color: rgba(4, 24, 39, 0.5);
  }
}
