.goods {
  width: 100%;
  min-height: 960px;
  background-color: $color-black-pearl;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goods__container {
  max-width: 1920px;
  width: 100%;
  min-height: 100%;
  padding-top: 66px;
  padding-bottom: 125px;
  padding-left: 350px;
}

.goods h2 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.goods p {
  font-family: $ff-roboto-condensed;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;
  margin: 0;
  margin-bottom: 53px;
}

.goods__text--mobile {
  display: none;
}

.goods ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 85px;
  max-width: 1220px;
  width: 100%;
}

.goods li {
  background-color: $color-deep-sky-blue;
}

@media (max-width: $desktop-elastic-max-width) and (min-width: $desktop-elastic-min-width) {
  .goods__container {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    width: 100%;
  }

  .goods ul {
    column-gap: 30px;
  }
}

@media (max-width: $tablet-max-width) and (min-width: $tablet-min-width) {
  .goods {
    height: 1080px;
  }

  .goods__container {
    width: 770px;
    padding: 54px 50px 75px;
  }

  .goods ul {
    grid-template-columns: 670px;
    row-gap: 30px;
  }

  .goods p {
    margin-bottom: 38px;
  }
}

@media (max-width: $mobile-width) {
  .goods {
    min-height: 1052px;
  }

  .goods__container {
    min-width: 320px;
    width: 100%;
    padding: 48px 25px 70px;
  }

  .goods p {

    font-size: 28px;
    line-height: 38px;
    margin-bottom: 30px;
  }

  .goods ul {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .goods__text--width {
    display: none;
  }

  .goods__text--mobile {
    display: block;
    padding-right: 15px;
  }
}
