.header-contacts {
  margin-right: 165px;
  display: flex;
  justify-content: space-between;
  width: 460px;
}

.header-contacts a {
  font-family: $ff-ptmono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $color-alice-blue;
  display: flex;
  align-items: center;
  user-select: none;
  border: 1px solid transparent;
}

.header-contacts a:hover {
  color: $color-deep-sky-blue;
}

.header-contacts svg {
  margin-right: 15px;
}

@media (max-width: $desktop-elastic-max-width) and (min-width: $desktop-elastic-min-width) {
  .header-contacts {
    margin-right: 0;
    max-width: 380px;
    width: 100%;
  }
}

@media (max-width: $tablet-max-width) and (min-width: $tablet-min-width) {
  .header-contacts {
    margin-right: 0;
    margin-top: -13px;
    width: 100px;
  }

  .header-contacts a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .header-contacts span {
    display: none;
  }

  .header-contacts svg {
    margin-right: 0;
  }
}

@media (max-width: $mobile-width) {
  .header-contacts {
    margin-right: 8px;
    width: 82px;
  }

  .header-contacts span {
    display: none;
  }

  .header-contacts svg {
    margin-right: 0;
  }
}
