.header-contacts {
  margin-right: 165px;
}

.header-contacts__wrapper {
  display: flex;
  justify-content: space-between;
  width: 460px;
}

.header-contacts__image {
  margin-right: 15px;
}

.header-contacts__link {
  font-family: $ff-ptmono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $color-alice-blue;
  display: flex;
  align-items: center;
}


@media (max-width: 1023px) and (min-width: 768px) {
  .header-contacts {
    margin-right: 0;
    margin-top: -13px;
  }

  .header-contacts__link-text {
    display: none;
  }

  .header-contacts__wrapper {
    width: 100px;
  }

  .header-contacts__image {
    margin-right: 18px;
}
}
