.logo {
  display: flex;
  align-items: center;
  margin-right: 160px;
  width: 215px;
}

.logo__image {
  margin-right: 15px;
}


.logo__text {
  font-family: $ff-roboto-condensed;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  color: $color-alice-blue;
  margin: 5px 0 0;
}

.logo__description {
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: $color-transparent;
  margin: 0;
}

@media (max-width: 1023px) and (min-width: 768px) {
  .logo {
    margin-right: 344px;
  }

  .logo__text {
    margin-top: -1px;
    margin-bottom: 2px;
  }
}

@media (max-width: 767px) {
  .logo {
    margin-right: 133px;
    width: 35px;
  }

  .logo__container {
    display: none;
  }

  .logo__image {
    width: 35px;
    height: 35px;
    margin-right: 0;
  }

  .footer__logo {
    margin-right: 0;
    width: 215px;
    margin-left: 50px;
  }

  .footer__logo .logo__container {
    display: block;
  }

  .footer__logo .logo__text {
    margin-top: 0;
    margin-bottom: 3px;
  }

  .footer__logo .logo__image {
    width: 55px;
    height: 55px;
    margin-right: 15px;
  }
}
