.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 6;
  overflow: auto;
}

.modal--close {
  display: none;
}

.modal__window {
  position: absolute;
  width: 500px;
  height: 610px;
  left: 50.5%;
  top: 146px;
  transform: translate(-50%, 0);
  background-color: $color-deep-sky-blue;
  border-radius: 3px;
  padding: 36px 40px;
}

.modal__window h2 {
  font-family: $ff-roboto-condensed;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  color: $color-default-white;
  margin: 0;
  margin-bottom: 5px;
}

.modal__window p {
  font-family: $ff-ptmono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  margin: 0;
  margin-bottom: 38px;
}

.modal__form input[type="text"],
.modal__form input[type="tel"] {
  font-family: $ff-ptmono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  background-color: $color-pacific-blue;
  border: none;
  border-radius: 3px;
  width: 420px;
  height: 50px;
  padding: 15px;
  margin-bottom: 20px;
}

.modal__form textarea {
  font-family: $ff-ptmono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  background-color: $color-pacific-blue;
  border: none;
  border-radius: 3px;
  width: 420px;
  height: 155px;
  padding: 23px 17px;
  margin-bottom: 20px;
}

.modal__form input[type="text"]::placeholder,
.modal__form input[type="tel"]::placeholder,
.modal__form textarea::placeholder {
  font-family: $ff-ptmono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-transparent;
}


.modal__form input[type="text"]:hover,
.modal__form input[type="tel"]:hover,
.modal__form textarea:hover,
.modal__form input[type="text"]:active,
.modal__form input[type="tel"]:active,
.modal__form textarea:active {
  border: 1px solid $color-default-white;
  outline: none;
}

.modal__form input[type="checkbox"] {
  display: none;
}

label[for="modal-checkbox"] {
  font-family: $ff-ptmono;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  opacity: 0.8;
  margin-left: 34px;
  position: relative;
}

label[for="modal-checkbox"]::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -25px;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 1px solid $color-default-white;
  border-radius: 2px;
}

.modal__form input[type="checkbox"]:checked + label[for="modal-checkbox"]::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -25px;
  width: 15px;
  height: 15px;
  background-image: url("../img/check-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal__window button[type="submit"] {
  width: 100%;
  height: 45px;
  background: $color-black-pearl;
  border-radius: 3px;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  margin-bottom: 14px;
}

.modal__window button[type="reset"] {
  position: absolute;
  top: 15px;
  left: 445px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  user-select: none;
}

.modal__window button[type="reset"]:hover,
.modal__window button[type="reset"]:focus,
.modal__window button[type="submit"]:hover,
.modal__window button[type="submit"]:focus {
  border: 2px solid $color-default-white;
  border-radius: 3px;
}

.modal__form {
  position: relative;
}

.modal__form div {
  position: absolute;
  top: 406px;
  left: 8px;
  background-color: $color-default-white;
  border-radius: 4px;
  border: 1px solid #ff0000;
  font-family: $ff-ptmono;
  font-size: 16px;
  line-height: 22px;
  padding: 3px 5px;
  color: #ff0000;
}
