.social {
  position: absolute;
  top: 122px;
  left: 360px;
}

.social ul {
  list-style-type: none;
  width: 150px;
  height: 40px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social a {
  fill: $color-alice-blue;
  cursor: pointer;
}

.social a:hover {
  fill: $color-deep-sky-blue;
}

.social h3,
.social h4 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

@media (max-width: $desktop-elastic-max-width) and (min-width: $desktop-elastic-min-width) {
  .social {
    left: 7%;
  }
}

@media (max-width: $tablet-max-width) and (min-width: $tablet-min-width) {
  .social {
    top: 42px;
    left: 575px;
  }
}

@media (max-width: $mobile-width) {
  .social {
    top: 92px;
    left: 87px;
  }
}
