.social {
  position: absolute;
  top: 122px;
  left: 360px;
}

.social__list {
  list-style-type: none;
  width: 150px;
  height: 40px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social__link {
  fill: $color-alice-blue;
}

.social__link:hover {
  fill: $color-deep-sky-blue;
}

@media (max-width: 1023px) and (min-width: 768px) {
  .social {
    top: 42px;
    left: 575px;
  }
}

@media (max-width: 767px) {
  .social {
    top: 92px;
    left: 87px;
  }
}
