// Colors
// ---------------------------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0.7);


// Project palette

$color-alice-blue: #f2f5f7;
$color-deep-sky-blue: #00b2ff;
$color-cerulean: #0072a3;
$color-cerulean-dark: #026592;
$color-black-pearl: #041827;
$color-pacific-blue: #019bdf;
$color-whisper: #ebebeb;

// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography

$ff-ptmono: "PT Mono", "Arial", monospace;
$ff-roboto-condensed: "Roboto Condensed", "Arial", sans-serif;
$ff-roboto: "Roboto", "Arial", sans-serif;
